# Dir aliases
alias plu="cd ~/w/plumber"

# Git aliases
alias g="git"
alias gst="git status"
alias gco="git checkout"
alias gbr="git branch"
alias artc="cd ~/w/artifact-client/"
alias arts="cd ~/w/artifact-server/"

# K8s
alias k="kubectl"
alias kx="kubectx"
alias kn="kubens"
alias heapster='export GRAFANA=$(k -n kube-system get po -l "k8s-app=grafana" -o jsonpath="{.items[0].metadata.name}"); \
                k -n kube-system port-forward $GRAFANA 12345:3000'

# Docker
alias d="docker"

# Inframan
alias infra="BUNDLE_GEMFILE=/home/psr/w/inframan/Gemfile bundle exec inframan"
alias ecs="BUNDLE_GEMFILE=/home/psr/w/inframan/Gemfile bundle exec inframan ecs"
alias cluster="ecs cluster"

# Tmux
alias tm="cd ~/w/scheme-services ; \
          tmux new -s \`basename \$(pwd)\` \; \
               send-keys ll C-m \; \
               split-w  \; \
               send-keys 'g --no-pager ll -5' C-m C-m C-m 'g st' C-m\; \
               neww \; send-keys 'psql -U postgres -h localhost sdk_api_dev' \; \
               split-w \; send-keys 'sudo haproxy -f etc/bluecode/haproxy/haproxy.cfg' \; \
               split-w \; \
               neww \; select-window -t 1 \; select-pane -t 1 \; \
               neww \; \
               neww \; \
               send-keys 'cd ../acquibase' C-m \; \
               split-w \; send-keys 'cd ../acquibase' C-m \; \
               neww \; \
               select-window -t 1 \; select-pane -t 1 \; \
               send-keys 'scheme-db' \; \
               "

# exa
alias lll="exa -la --git"

# stern
alias ppllogs="stern 'plumber-.{8}-' -c plumber$ --output raw --since 15m > /tmp/ppl_logs & less +F /tmp/ppl_logs ; fg"

# Scheme service
alias scheme-db="docker run -d --rm --name db --network=host mdillon/postgis:10 postgres -N 200 ; \
  sleep 8; \
  psql -U postgres -h localhost postgres -c 'create user bluecode_core with superuser; create user bluecode with superuser;' \

  mix do ecto.create, ecto.migrate, seeds.all
"

# Env vars
export EDITOR=vim

export BC_DEV_DOMAIN=prakic.bloomco.de
export BC_DEV_NO_WATCH_ASSETS=1
export BC_DEV_ISSUER_PROC_SHARED_API_KEY=qwerty
export BC_DEV_CLEARING_PROC_SHARED_API_KEY=yemen-redbird-session-scorpio
export BC_DEV_ADMIN_PASSWORD=developer@bluecode.com
export ERL_AFLAGS="-kernel shell_history enabled -kernel shell_history_file_bytes 1024000 +S3"
export SYSTEMTEST_DOMAIN=$BC_DEV_DOMAIN

