[user]
	name = Predrag Rakic
[alias]
	a   = add
	co  = checkout
	mas = checkout master
	d   = diff
	l   = log --decorate --graph --all -4
	st  = status
	fe  = fetch
	br  = branch
	cm  = commit -a -m
	wip = commit -a -m "WIP"
	po  = push origin
	ll  = "log --format=format:'%C(red)%h%C(reset) %C(green)%an%C(reset) %C(yellow)(%ar)%C(reset) %C(blue)%d%C(reset) %C(white)%s%C(reset)' --abbrev-commit --date=relative --graph --all -12"
	mam = !git fetch && git checkout master && git merge origin/master && git ll

[push]
	default = current
[diff]
	algorithm = histogram

[pager]
	diff = delta
	show = delta
	log = delta
	reflog = delta

[interactive]
	diffFilter = delta --color-only

# Git delta https://github.com/dandavison/delta
[delta]
	line-numbers = true 
	diff-highlight = true

#[url "https://github.com/"]
#	        insteadOf = git@github.com:

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
